*{
 
    padding:  0 ;
    margin : 0 ; 
    box-sizing:  border-box;  
   
  }
  



.OuterBox{
    
    height:  100vh;
    width: 100vw;
    background-color: #F7E5E9;  
    display: flex;
    justify-content: center;
}   


.InnerBox-1{

         
    height: 100%;
    width: 47.31%;
    background-color: yellowgreen;    
} 


.InnerBox-2{

        
    height:  100%;
    width: 52.69%;
    background-color: #F7E5E9;  

}  


.description1_login{
 
 top : 27.95% ;  
 position: absolute;
 height : 7% ;
 width : 20% ;  
 
 background-color: crimson ;

}  




.input_text1{

height : 7.68% ;
 width : 20% ;  
 background-color: brown ; 
 border-radius: 25px;
 top : 40.93% ;  
 position: absolute;

}  

.input_text2{

    height : 7.68% ;
     width : 20% ;  
     background-color: brown ; 
     border-radius: 25px;
     top : 51.13% ;  
     position: absolute;
    
    } 

    


.input_box_text{
     

    height : 98%;
    background-color: blueviolet ; 
    border-radius: 25px;
}
  



.button{

    height: 7.95% ; 
    width:  10% ;  
    background-color: coral ;
}

