.Row{

  display: flex ;
  flex-direction: row;
  
}  



.Dashboard-sidebar{
  flex : 19%  ; 
  background-color: "#353B55" ; 
}  

.Dashboard-body{
  
   flex : 81%  ; 
   background-color: red ; 
}
 




     