*{
 
    padding:  0 ;
    margin : 0 ; 
    box-sizing:  border-box;  
   
  
  }
  
  
.Sidebar{
    text-align: center; 
    background-color: #353B55 ; 
    height:   100% ;  
    width:   100% ;  
    display:  flex ; 
    justify-content: center; 
    flex-direction:  column ; 
  }  



.Sidebar-description{

  height: 55% ;
  width : 100% ; 
    background-color: azure;
}
 
 
.Sidebar-Program-Name-div{ 
     
   
  height: 25.45% ;
  width : 100% ; 
    background-color:  blanchedalmond;

 }   


 .Sidebar-profile-Name-div{

     height: 33.94% ;
     width : 100% ; 
    background-color:  pink;
 } 

 .Sidebar-Admin-info-div{

  height: 17.20% ;
  width : 100% ; 
 background-color: blue;

 }  

.Sidebar-Program-Home-Button-div{
   
  height: 16.97% ;
  width : 100% ; 
 background-color: palegreen;


}
    


.Sidebar-logout-box{

  height: 45% ;
  width : 100% ; 
    
}  


.Sidebar-logout-button{

  height:  20.11% ;
  width: 100% ; 
  background-color: beige ;
}
