.Table{
     
    background-color: blue;
  height : 100% ; 
  width:  100% ;
  overflow:  hidden;

  }  


  .Row{

     height : 20% ;
     width : 100%  ; 
     background-color: chartreuse ;
     border: 1px solid black;
      
  }  



  .Footer{

   height : 15% ;
   width : 100%  ; 
   background-color: chartreuse ;
  }