.logout_popup{
  
    position : fixed ; 
    left : 0 ;
    top : 0 ; 
    width: 19%; 
    height : 100vh ; 
    display: flex;
    align-items: flex-end; 
    justify-content: center;   
 

 
}     



.logout_popup_inner{


    position: relative;
    width : 80% ; 
    height : 18% ;
    margin: 10% ; 
    background-color:  #B6B7D0;  
    border-radius: 20px;
    
}  












