*{
 
    padding:  0 ;
    margin : 0 ; 
    box-sizing:  border-box;  
   
  
  }
  
  
.Dashboard{  
    display: flex;
    text-align: center; 
    background-color:  yellow ; 
    height:  100vh ;  
    width: 100vw ; 
  }   


.Dashboard-sidebar{
   flex : 19%  ; 
   background-color: "#353B55" ; 
}  

.Dashboard-body{
   
    flex : 81%  ; 
    background-color: red ; 
}



      